## --- Build Output ---
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]est[Rr]esults/

## --- User Secrets ---
secrets.json

## --- Visual Studio ---
.vs/
*.user
*.userosscache
*.suo
*.sln.docstates
*.sln.doccache

## --- VS Code ---
.vscode/

## --- Rider ---
.idea/
*.iml

## --- NuGet ---
*.nupkg
**/packages/*
!**/packages/build/

## --- Publish ---
publish/
*.pubxml

## --- OS ---
.DS_Store
Thumbs.db
SetPoint.API/appsettings.Development.json
/SetPoint.API/logs
SetPoint.API/appsettings.json
SetPoint.API/Dockerfile
SetPoint.API/Properties/launchSettings.json
SetPoint.API/SetPoint.http
